<!-- spring的applicationContext.xml -->
<!-- <beans>里的xmlns、xsi是引用标签的命名空间和解析文件，不然怎么知道标签什么意思以及自动提示功能 -->
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
		
	<!-- 声明启用annotation注解 -->
	<context:annotation-config></context:annotation-config>
	
	<!-- 扫描指令包下的类，装配组件 -->
	<context:component-scan base-package="pro.serviceImpl"></context:component-scan>

	<!-- 组件dataSource -->
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<!-- 数据库连接配置 -->
		<property name="driverClassName"
			value="oracle.jdbc.driver.OracleDriver">
		</property>
		<property name="url"
			value="jdbc:oracle:thin:@127.0.0.1:1521:xe">
		</property>
		<property name="username" value="xuxin"></property>
		<property name="password" value="xuxin"></property>
	</bean>
	
	<!-- 组件sessionFactory,整合Hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<!-- 依赖的组件dataSource -->
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<!-- 将hibernate配置整合进来 -->
		<property name="hibernateProperties">
			<props>
				<!-- 数据库种类 -->
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle9Dialect
				</prop>
				<!-- 显示SQL -->
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<!-- ORM映射文件，用annotation注解映射类到数据库的关系 -->
		<property name="annotatedClasses">
			<list>
				<value>pro.domain.Type</value>
				<value>pro.domain.Operator</value>
				<value>pro.domain.Comment</value>
				<value>pro.domain.News</value></list>
		</property>
	</bean>
	
	<!-- 上面有部分包是annotation注解且自动扫描的 -->
	<!-- 这里再配置一些xml的 -->
	<!-- 组件TypeDAO -->
	<bean id="TypeDAO" class="pro.daoImpl.TypeDaoImpl">
		<!-- 依赖的组件sessionFactory -->
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="OperatorDAO" class="pro.daoImpl.OperatorDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="CommentDAO" class="pro.daoImpl.CommentDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="NewsDAO" class="pro.daoImpl.NewsDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- 组件txManager,用于管理事务 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<!-- 依赖的组件sessionFactory -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- AOP配置 -->
	<aop:config>
		<!-- 切点 -->
		<aop:pointcut expression="execution(public * pro.serviceImpl..*.*(..))" id="bussinessService"/>
		<!-- 在切点上应用txAdvice建议 -->
		<aop:advisor advice-ref="txAdvice" pointcut-ref="bussinessService"/>
	</aop:config>
	
	<!-- txAdvice建议 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="*"/>
		</tx:attributes>
	</tx:advice>
</beans>